<div>
  <form (ngSubmit)="onSubmit()" ngForm autocomplete="off">
    <h1>Register</h1>
    <div>
      <label for="fullName">Full Name<span class="required">*</span></label>
      <input type="text" name="fullName" id="fullName" [(ngModel)]="user.fullName" required autocomplete="off">
    </div>
    <div>
      <label for="email">Email<span class="required">*</span></label>
      <input type="email" name="email" id="email" [(ngModel)]="user.email" required autocomplete="off">
    </div>
    <div>
      <label for="dob">Date of Birth<span class="required">*</span></label>
      <input type="date" name="dob" id="dob" [(ngModel)]="user.dob" required autocomplete="off">
    </div>
    <div>
      <label for="gender">Gender<span class="required">*</span></label>
      <select name="gender" id="gender" [(ngModel)]="user.gender" required autocomplete="off">
        <option value="" disabled selected>Select your gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    <div>
      <label for="interests">Interests<span class="required">*</span></label>
      <select name="interests" id="interests" [(ngModel)]="user.interests" required autocomplete="off">
        <option value="" disabled selected>Select your interests</option>
        <option value="Technology">Technology</option>
        <option value="Science">Science</option>
        <option value="Arts">Arts</option>
      </select>
    </div>
    <div>
      <label for="password">Password<span class="required">*</span></label>
      <input type="password" name="password" id="password" [(ngModel)]="user.password" required autocomplete="off">
    </div>
    <div>
      <label for="experience">Years of Experience<span class="required">*</span></label>
      <input type="number" name="experience" id="experience" [(ngModel)]="user.experience" required min="0" max="20">
    </div>
    <button type="submit">Register</button>
  </form>

  <div class="navigation">
    <a routerLink="/users">Go to User List</a>
  <br>
    <a routerLink="/login">Login</a>
  </div>
</div>
